<div class="content hidden" id="bonnmotion">
    <h2>Create Mobility Data with BonnMotion</h2>

    <form method="post" action="{% url 'dashboard' %}" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-container">
            <div class="form-group">
                <label for="model" class="form-label">Mobility Model</label>
                <select name="model" id="model" onchange="showParams()">
                    <option value="" disabled selected>-- Select a Mobility Model --</option>
                    <!-- <option value="Boundless">Boundless Simulation Area Model</option> -->
                    <!-- <option value="ChainScenario">Chain Model</option>
                    <option value="Column">Column Mobility Model</option>
                    <option value="DisasterArea">Disaster Area Model</option>
                    <option value="OriginalGaussMarkov">The Original Gauss-Markov Model</option>
                    <option value="GaussMarkov">The Gauss-Markov Model</option>
                    <option value="ManhattanGrid">The Manhattan Grid Model</option>
                    <option value="RandomStreet">Random Street Model</option>
                    <option value="MSLAW">Map-based Self-similar Least Action Walk</option>
                    <option value="Nomadic">Nomadic Community Mobility Model</option>
                    <option value="ProbRandomWalk">Probabilistic Random Walk Model</option>
                    <option value="Pursue">Pursue Mobility Model</option>
                    <option value="RandomDirection">Random Direction Model</option>
                    <option value="RandomWalk">Random Walk Model</option> -->
                    <option value="RandomWaypoint">The Random Waypoint Model</option>
                    <!-- <option value="RPGM">The Reference Point Group Mobility Model</option>
                    <option value="SLAW">Self-similar Least Action Walk</option>
                    <option value="SMOOTH">SMOOTH Model</option>
                    <option value="Static">Static Scenarios</option>
                    <option value="StaticDrift">Static Scenarios With Drift</option>
                    <option value="SteadyStateRandomWaypoint">Steady-State Random Waypoint Model</option>
                    <option value="SWIM">Small World In Motion</option>
                    <option value="TIMM">Tactical Indoor Mobility Model</option>
                    <option value="TLW">Truncated Lévy Walk</option> -->
                </select>
            </div>

            <!-- Scenario Params -->
            <div class="common param hidden">
                <label for="name" class="form-label">Name of Scenario</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>

            <div class="common param hidden">
                <label for="duration">Scenario Duration</label>
                <input type="number" name="duration" id="duration" required>
            </div>

            <div class="common param hidden">
                <label for="skip_time">Number of Seconds to Skip</label>
                <input type="number" name="skip_time" id="skip_time" required>
            </div>

            <div class="common param hidden">
                <label for="nodes">Number of Nodes</label>
                <input type="number" name="nodes" id="nodes">
            </div>

            <div class="common param hidden">
                <label for="area_width">Width of Simulation Area</label>
                <input type="number" name="area_width" id="area_width">
            </div>

            <div class="common param hidden">
                <label for="area_height">Height of Simulation Area</label>
                <input type="number" name="area_height" id="area_height">
            </div>

            <div class="param hidden">
                <label for="area_depth">Depth of Simulation Area</label>
                <input type="number" name="area_depth" id="area_depth">
            </div>

            <div class="param hidden">
                <label for="seed">Random Seed</label>
                <input type="number" name="seed" id="seed">
            </div>

            <div class="param hidden">
                <label for="dimension_output">Dimension of Movement Output</label>
                <select name="dimension_output" id="dimension_output">
                    <option value="" disabled selected>-- Select a Dimension --</option>
                    <option value="2D">2D</option>
                    <option value="3D">3D</option>
                </select>
            </div>

        </div>
        
        <button class="button" type="submit" name="create">Create Data</button>
    </form>

</div>