<!-- Nomadic Specific Parameters -->
<fieldset class="model card-body p-3 p-md-4 d-none" id="Nomadic">
    <div class="row g-3">
        <div class="col-md-3">
            <label class="form-label fw-semibold" for="{{ nomadic_form.avg_nodes_per_group.id_for_label }}">
                Avg. Number of Nodes per Group
            </label>
            {{ nomadic_form.avg_nodes_per_group }}
        </div>

        <div class="col-md-3">
            <label class="form-label fw-semibold" for="{{ nomadic_form.max_distance_to_group_center.id_for_label }}">
                Max. Distance to Group Center
            </label>
            {{ nomadic_form.max_distance_to_group_center }}
        </div>

        <div class="col-md-3">
            <label class="form-label fw-semibold" for="{{ nomadic_form.group_size_stdd.id_for_label }}">
                Group Size Standard Deviation
            </label>
            {{ nomadic_form.group_size_stdd }}
        </div>

        <div class="col-md-3">
            <label class="form-label fw-semibold" for="{{ nomadic_form.ref_point_max_pause.id_for_label }}">
                Reference Point Max. Pause
            </label>
            <div class="input-group">
                {{ nomadic_form.ref_point_max_pause }}
            </div>
        </div>
    </div>
</fieldset>